<div class="tab-content-container">
  <span class="spinner" ng-show="spinners.mappings">
    <img src="spinner.gif"/>
  </span>
  <div ng-show="!spinners.mappings">
    <h3>
      <button ng-disabled="leftTab !== 0"
              ng-click="selectInTree();"           
              class="btn btn-success"
              style="float: right"
              type="submit"
              data-toggle="tooltip"
              title="Select in tree">
        <span class="glyphicon glyphicon-duplicate"></span>
      </button>
      {{data.details.descriptions[0].concept_term}}
    </h3>
    <div ng-show="!data.mappings.concepts.length && !spinners.mappings">
      <p>No mappings found</p>
    </div>
    <div ng-show="data.mappings.concepts.length">
      <table class="table table-condensed table-hover">
        <tr>
          <th>Mapping Target</th>
          <th>Mapping Refset Description</th>
        </tr>
        <tr ng-repeat="mapping in data.mappings.concepts"
            ng-click="mappingSelect(mapping);"
            class="clickable">
          <td>{{mapping.map_target}}</td>
          <td>{{mapping.term}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>