<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>  
  
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
    
  <resource-ref>
    <description>sctbrowser datasource</description>
    <res-ref-name>jdbc/sctbrowser</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <context-param>
    <param-name>sqlDialect</param-name>
    <param-value>${sql.dialect}</param-value>
  </context-param>
  
  <context-param>
    <param-name>dataDirectory</param-name>
    <param-value>${data.directory}</param-value>
  </context-param>
 
  <filter-mapping>
    <filter-name>crawler</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>
</web-app>
